body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F6F4F0;
    scroll-behavior: smooth; /* Añade transiciones suaves al desplazarse */
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.logo {
    width: 100px;
    height: auto;
}
.banner {
    width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta la altura máxima del banner */
}
nav {
    background-color: #444;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
main {
    padding: 2rem;
}
.experiencia {
    margin-bottom: 2rem;
}
.experiencia img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajusta la altura máxima de las imágenes de experiencias */
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
